@model ExposureAPI.ViewModels.SiteShow

@{
    ViewBag.Title = @Model.Site.Title;
    Layout = "_Layout";
}
@addTagHelper *, ASP

@await Component.InvokeAsync("Script", new
{
    className = "SiteShow"   
})


<h2>@Model.Site.Title</h2>
<p>@Model.Site.Description</p>

<p><a href="@($"/site/{Model.Site.SiteId}/Gallery")">Gallery</a></p>

<h3>Content Sections</h3> <a href="#" id="add-section" class="lnk-html-content"  data-toggle="modal"  data-target="#modal_new">add</a>

    @foreach (var s in Model.ContentSections)
    {
        @await Component.InvokeAsync("Content", new
        {
            Section = s 
        })
    }

<div id="modal_new" class="modal card" tabindex="-10" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h5 class="modal-title">New Section</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="content-section-form" method="post" action="@String.Format("/site/{0}/section/create",@Model.Site.SiteId)">
            <textarea class="content-body" name="content" style="height: 100%; width: 100%;"></textarea>
            <button type="button"  class="btn btn-primary new-save">save</button>
        </form>    

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>

</div>

